@model Ubrania_ASP.NET_Nowy.Models.Cloth

@{
    ViewData["Title"] = "Delete";
}
<br />
<h2>Usuń Ubranie</h2>
<br />

<h3>Skasuj ubranie należące do: @Html.DisplayFor(Model => Model.Agreement.Name)  @Html.DisplayFor(Model => Model.Agreement.Surname)</h3>


<div class="form-border">

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <fieldset disabled>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Mark" class="control-label"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Mark" class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Size" class="control-label"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Size" class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Colour" class="control-label"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Colour" class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Type" class="control-label"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Type" class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Description" class="control-label"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Description" class="form-control" />
                </div>

            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Price" class="control-label"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Price" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Price_RL" class="control-label"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Price_RL" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Sold" class="control-label"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Sold" class="form-control" />
                </div>
            </div>
                        
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Agreement" class="control-label"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Agreement.Name" class="form-control" />
                </div>
            </div>


        </fieldset>
        <div class="form-group">
            <input type="submit" value="Usun" class="btn btn-danger" />&nbsp;
            <a asp-action="Index" class="btn btn-success">Wróć do listy</a>
        </div>

    </form>
   
</div>
