@model IEnumerable<Ubrania_ASP.NET_Nowy.Models.Cloth>


<h2>Kasjer</h2>

@using (Html.BeginForm("TakePrice", "Cashier"))
{
    <input type="text" id="Id" name="Id" />
}
@section Scripts {
    @{await Html.RenderPartialAsync("TakePrice");}
}