@model IEnumerable<Ubrania_ASP.NET_Nowy.Models.Cloth>


    <div class="form-border">
        <table class="table">
            <thead>
                <tr>
                    @if (Model != null)
                    {
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceCounter)
                    </td>

                </tr>
                }


                <tr>
                    <td></td>
                </tr>
                }

            </thead>
        </table>
    </div>
